<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>Reactive trader | Gekko</title>

  <link rel="stylesheet" href="/static/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div class="page-width">
    <h1>Reactive Trader</h1>

    <div class="configuration">
      <div class="watch">
        <span class="exchange"><%= watch.exchange %></span>
        <div class="asset-currency">
          <span><%= watch.currency %></span>
          -
          <span><%= watch.asset %></span>
        </div>
      </div>
      <div class="algorithm">
        <ul>
          <li><span>Iterations:</span> <%= genetic.iterations %>
          <li><span>Size:</span> <%= genetic.size %>
          <li><span>Crossover:</span> <%= genetic.crossover %>
          <li><span>Mutation:</span> <%= genetic.mutation %>
          <li><span>Skip:</span> <%= genetic.skip %>
          <li><span>FittestAlwaysSurvives:</span> <%= genetic.fittestAlwaysSurvives %>
        </ul>
      </div>
      <%=  %>
    </div>

    <div class="results">
      <table id="fitness-table">
        <thead>
          <tr>
            <th>Trades</th>
            <th>Market</th>
            <th>Profit</th>
            <th>Relative profit</th>
            <th data-sort-default><stong>Relative Yearly profit</strong></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>
